#open-new-task-form {
    color: $dark2;
    font-size: $fs1;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: .7rem;
    padding: 1.5rem 3.3rem;
    cursor: pointer;

    &:hover {
        color: $blue2;
    }
}

//NEW TASK FORM MODAL
#new-task-form {
    display: flex;
    margin: 1.5rem 3.3rem;
    position: relative;
    flex-direction: column;
    gap: .7rem;
    border: 1px solid $blue1;
    border-radius: 5px;
    font-size: $fs1;
    width: 50%;
    height: fit-content;
    padding: .8rem 1rem;

    .text-input {
        border: none;
        cursor: text;
        outline: none;
    }

    #new-task-name {
        font-size: $fs1;
        border-bottom: solid .1rem $dark3;
    }

    #new-task-details {
        padding: .3rem;
        resize: none;
        outline: solid .1rem $dark3;
        font-size: .9rem;
    }
}

.set-inputs {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
    z-index: 2;

    span {pointer-events: none;}

    .set-input {
        background: none;
        border: solid .1rem $dark3;
        border-radius: 6px;
        height: 1.8rem;
        padding: 0 .7rem;
        display: flex;
        gap: .4rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: .8rem;
        min-width: 5rem;
    }
}

.set-input-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selected-new-task-list {
    max-width: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



#new-task-list {
    i {
        font-size: 1rem;
        color: $orange1;
    }
}

#set-list-modal, #set-priority-modal {
    display: flex;
    background-color: $light1;
    font-size: .8rem;
    box-shadow: $modal-shadow;
    border-radius: 5px;
    position: absolute;
    flex-direction: column;
    width: 9rem;
    padding: .09rem 0;
    top: 100%;

    span {
        padding: .3rem .5rem;
        cursor: pointer;

        &:hover {
            background-color: $light2;
        }

        &.selected::after {
            content: '\002714';
            position: absolute;
            right: 1rem;
            color: $blue1;
        }
    }
}

#saved-lists-container {
    display: flex;
    flex-direction: column;
}

.new-task-list {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 2rem !important;
    white-space: nowrap;
}

#new-task-date {
   color: $dark2;
   padding-right: .3rem;

   span {white-space: nowrap;}
}

#set-date-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 100%;
    background-color: $light1;
}

#remove-selected-date-btn {
    position: relative;
    right: -.3rem;
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid .1rem $dark3;
    cursor: pointer;
    
    &:hover {
        color: $red1;
    }

    &.hidden {
        display: none;
    }
}

.set-time-btn-wrapper {
    cursor: not-allowed;
}
#set-time-btn {
    width: 100%;
    margin-top: .15rem;
    background: $light1;
    border: solid .1rem $light2;
    padding: .5rem 0;
    cursor: pointer;

    &.disabled {
        color: $dark3;
        pointer-events: none;
    }

    &.remove {
        color: $red1;
    }
}

#set-priority-modal {
    width: 7rem;
}

#set-priority-modal span {
    display: flex;
    gap: .7rem;
}

#new-task-priority {
    color: $light1 !important;
    border: none !important;
}

.low-priority-flag {color: $blue1;}
.medium-priority-flag {color: $orange1;}
.high-priority-flag {color: $red1;}

#new-task-priority[data-task-priority=low] {
    background-color: $blue1;
}
#new-task-priority[data-task-priority=medium] {
    background-color: $orange1;
}
#new-task-priority[data-task-priority=high] {
    background-color: $red1;
}



.add-cancel-btns {
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    display: flex;
    gap: 1rem;
    
    button {
        padding: .3rem 0rem;
        width: 6rem;
        font-size: 1rem;
        border-radius: 6px;
        cursor: pointer;

        &:active {scale: .95;}
    }

    #add-new-task {
        color: $light1;
        background-color: $blue1;
        &:hover {background-color: $blue2;}
    }

    // #close-new-task-form {
    //     // border: .1rem solid $dark3;
    //     // border: none;
    // }
}