.user-list:hover .list-options {
    display: flex;
}
.task:hover .task-options {
    display: flex;
}

.list-options,
.task-options {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    color: $gray;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    transition: 150ms;

    &:hover,
    &.active {
        color: $dark-gray;
        background-color: $light-grayish;
    }
}

.list-options {
    right: 1.7rem;
}
.task-options {
    right: 4rem;
}

.list-options,
.task-options {
    .modal {
        position: absolute;
        display: none !important;
        top: 100%;
        display: flex;
        flex-direction: column;
        background-color: $light-bg;
        color: $black;
        box-shadow: $modal-shadow;
    }

    btn {
        font-size: 0.9rem;
        padding: 0.4rem 0.9rem;

        &:hover {
            background-color: $light-grayish;
        }
    }
}

btn.list-delete:hover,
.task-delete:hover {
    color: $red;
}

.user-list.active {
    background-color: $light-grayish;
}
.user-list.selected .list-options {
    display: none !important;
}
.user-list.active .list-options {
    display: flex;
    color: $dark-gray;
    background-color: $light-grayish;
}
.user-list.active .modal {
    display: flex !important;
}

.task-options.active {
    display: flex;
}
.task-options.active .modal {
    display: flex !important;
}

.set-input {
    cursor: pointer;
    * {
        cursor: pointer;
    }
}
.modal {
    display: none !important;
    position: relative;
    z-index: 99999;

    span {
        pointer-events: all;
    }
}
.set-input.active ~ .modal {
    display: flex !important;
}
