.overlay {
    position: absolute;
    cursor: default;
    height: 500vh;
    width: 500vw;
    left: -250rem;
    z-index: 1000;
}

.task-modal-overlay {
    position: absolute;
    cursor: default;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}
