$light-bg: rgb(255, 255, 255);
$light-grayish: rgb(241, 241, 241);
$black: rgb(41, 41, 41);
$dark-gray: rgb(99, 99, 99);
$gray: rgb(165, 165, 165);
$light-gray: rgb(223, 223, 223);
$light-blue: rgb(0, 153, 255);
$blue: rgb(0, 110, 255);
$dark-blue: rgba(0, 153, 255, 0.082);
$light-green: rgb(61, 187, 114);
$red: rgb(187, 0, 0);
$orange: orange;
$purple: rgb(151, 0, 151);
$fs1: 1rem;
$fs2: 1.1rem;
$modal-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6,
    0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    cursor: default;
}

body {
    background-image: url(https://desktop.any.do/assets/themes/hd/21.webp);
    background-size: cover;
    display: flex;
    user-select: none;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

i {
    pointer-events: none;
}
