$light1: rgb(255, 255, 255);
$light2: rgb(241, 241, 241);
$dark1: rgb(41, 41, 41);
$dark2: rgb(99, 99, 99);
$dark3: rgb(175, 175, 175);
$blue1: rgb(0, 153, 255);
$blue2: rgb(0, 110, 255);
$green1: rgb(61, 187, 114);
$red1: rgb(187, 0, 0);
$orange1: orange;
$purple1: rgb(151, 0, 151);
$fs1: 1rem;
$fs2: 1.1rem;
$modal-shadow: 1px 0 0 #e6e6e6,-1px 0 0 #e6e6e6,0 1px 0 #e6e6e6,0 -1px 0 #e6e6e6,0 3px 13px rgba(0,0,0,0.08);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    cursor: default;
}

body {
    background-image: url(https://desktop.any.do/assets/themes/hd/21.webp);
    background-size: cover;
    display: flex;
    user-select: none;
}

i {
    pointer-events: none;
}